.header {
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img {
        margin-left: 1rem;
    }
    &__ul {
        display: flex;
        list-style: none;

        li {
            padding: 1rem;
        }
        &--active {
            font-weight: bold;
        }
    }
}