.main {
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__img {
        margin: 1rem;
        width: 500px;
    }
    &__h3 {
        margin: 1rem;
        color: $textoPrincipal;
    }
}